<h3>Передайте контакты писарю</h3>

<form action="/visit" method="POST">

  <div class="form-group">
    <label for="myname">Барин</label>
    <input type="text" name="client[name]" class="form-control" id="myname" placeholder="Введите имя барина" value="">
  </div>

  <div class="form-group">
    <label for="myphone">Номер гонца</label>
    <input type="text" name="client[phone]" class="form-control" id="myphone" placeholder="Введите контактный номер" value="">
  </div>

  <div class="form-group">
    <label for="datetimepicker">Дата и время приема</label>
    <input type="text" name="client[datestamp]" class="form-control" id="datetimepicker" placeholder="Введите желаемую дату" value="">
  </div>

  <button type="submit" class="btn btn-primary">Передать</button>
</form>

<script>
    jQuery.datetimepicker.setLocale('ru');
    jQuery('#datetimepicker').datetimepicker();
</script>